@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #f2f5f8;
  --background: var(--BgGray);
  --foreground: #ededed;
  --BgGray: #f2f5f8;
  --ActiveGray: #e8e9e9;
  --MetricsGray: #e6e9ec;
  --InactiveTitle: #a5a7a9;
  --MetricsGreen: #28a745;
  --MetricsRed: #f41b55;
  --BgRed: #fee8ee;
  --BgGreen: #eaf7ed;
  --NavIcon: #22262b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--BgGray);
    --foreground: #ededed;
    --BgGray: #f2f5f8;
    --ActiveGray: #e8e9e9;
    --MetricsGray: #e6e9ec;
    --InactiveTitle: #a5a7a9;
    --MetricsGreen: #28a745;
    --MetricsRed: #f41b55;
    --BgRed: #fee8ee;
    --BgGreen: #eaf7ed;
    --NavIcon: #22262b;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
